<!-- Square grid row. Add class js-lightbox to enable lightbox -->
<div class="grid-wrapper grid-wrapper--row">
	<div class="box">
		<img class="js-lightbox" src="/assets/img/twitter.png" alt="Twitter" />
	</div>
	<div class="box">
		<img class="js-lightbox" src="/assets/img/youtube.png" alt="YouTube" />
	</div>
	<div class="box">
		<img class="js-lightbox" src="/assets/img/linkedin.png" alt="LinkedIn" />
	</div>
	<div class="box">
		<img class="js-lightbox" src="/assets/img/instagram.png" alt="Instagram" />
	</div>
	<div class="box">
		<img class="js-lightbox" src="/assets/img/facebook.png" alt="Facebook" />
	</div>
</div>
