<!doctype html>
<html>
	<head>
		<link rel="stylesheet" href="/assets/css/style.css" />
		<link rel="stylesheet" href="/assets/css/accordian.css" />
		<link rel="stylesheet" href="/assets/css/grid-panel.css" />
		<link rel="stylesheet" href="/assets/css/nav.css" />
		<link rel="stylesheet" href="/assets/css/modal.css" />

		<title>
			Phil Cook - Engineering Manager, Developing Solutions Architect
		</title>
	</head>

	<body>
		<div id="nav-placeholder"></div>
		<div id="lightbox-placeholder"></div>

		<div class="container">
			<div>
				<img class="cover-img" src="/assets/img/cover-photo.png" alt="Cover" />
			</div>
		</div>

		<!-- Breadcrumbs insertion -->
		<nav class="breadcrumbs" aria-label="Breadcrumb"></nav>

		<!-- CMS:START hero -->
		<div class="div-wrapper">
			<div class="default-div-wrapper hero-override">
				<h1 style="text-align: center">
					PAGE HEADER GOES HERE - MUST BE THE SAME AS HTML
				</h1>
				<p style="text-align: center">
					Very short description here of what the page is
				</p>
			</div>
		</div>
		<!-- CMS:END hero -->

		<!-- CMS:START main -->
		<!-- CMS:END main -->

		<footer>
			<div id="footer-placeholder"></div>
		</footer>

		<script src="/assets/script/dom-loader.js?v=2026-02-16-elkfix4" defer></script>
	</body>
</html>
