<!-- Simple accordion (inline)
     IMPORTANT: ids must be unique per page.
     Use acc-{{pageSlugHash}}-{{blockIdShort}}-N for deterministic IDs.
-->
<div class="tab">
	<input type="checkbox" id="acc-{{pageSlugHash}}-{{blockIdShort}}-1" />
	<label class="tab-label" for="acc-{{pageSlugHash}}-{{blockIdShort}}-1">Item 1</label>
	<div class="tab-content">
		<ul>
			<li>Point A</li>
			<li>Point B</li>
		</ul>
	</div>
</div>

<div class="tab">
	<input type="checkbox" id="acc-{{pageSlugHash}}-{{blockIdShort}}-2" />
	<label class="tab-label" for="acc-{{pageSlugHash}}-{{blockIdShort}}-2">Item 2</label>
	<div class="tab-content">
		<ul>
			<li>Thing 1</li>
			<li>Thing 2</li>
		</ul>
	</div>
</div>
